<div class="login">
    <div class="login__text-container">
        <div class="login__list" *ngFor="let item of description">
            <span class="login__title">
                {{ item.title }}
            </span>
            <span class="login__description">
                {{ item.description }}
            </span>
        </div>
    </div>
    <div class="login__form-container">
        <div class="login__form">
            <span class="login__title-form">{{
                isSignUp ? "Зарегистрируйтесь" : "Войдите в аккаунт"
            }}</span>
            <ng-template #signIn class="login__div-middle">
                <div class="login__buttons-container">
                    <button
                        appearance="secondary"
                        tuiButton
                        type="button"
                        tuiMode="onDark"
                        [size]="sizeButton"
                    >
                        <div class="login__button-value">
                            <img
                                class="login__img"
                                src="assets/svg/yandex.svg"
                                alt="Yandex"
                            />
                            <span
                                class="login__title-form login__fs-16 login__lh-20"
                                >Войти через Яндекс</span
                            >
                        </div>
                    </button>
                    <button
                        appearance="secondary"
                        tuiButton
                        type="button"
                        tuiMode="onDark"
                        [size]="sizeButton"
                    >
                        <div class="login__button-value">
                            <img
                                class="login__img"
                                src="assets/svg/google.svg"
                                alt="Yandex"
                            />
                            <span
                                class="login__title-form login__fs-16 login__lh-20"
                                >Войти через Google</span
                            >
                        </div>
                    </button>
                    <button
                        appearance="secondary"
                        tuiButton
                        type="button"
                        tuiMode="onDark"
                        [size]="sizeButton"
                    >
                        <div class="login__button-value">
                            <img
                                class="login__img"
                                src="assets/svg/apple.svg"
                                alt="Yandex"
                            />
                            <span
                                class="login__title-form login__fs-16 login__lh-20"
                                >Войти через Apple</span
                            >
                        </div>
                    </button>
                </div>
                <span class="login__title-form login__fs-20 login__lh-20"
                    >или</span
                >
                <div class="login__inputs">
                    <ng-container [formGroup]="loginForm">
                        <tui-input
                            [formControl]="loginForm.controls.login"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            tuiMode="onDark"
                            [tuiTextfieldSize]="sizeInput"
                        >
                            <span
                                class="login__title-form login__fs-16 login__lh-normal"
                                >Логин</span
                            >
                            <input tuiTextfield placeholder="Логин" />
                        </tui-input>
                        <tui-input-password
                            [formControl]="loginForm.controls.password"
                            [tuiTextfieldCleaner]="true"
                            [tuiTextfieldLabelOutside]="true"
                            tuiMode="onDark"
                            [tuiTextfieldSize]="sizeInput"
                        >
                            <span
                                class="login__title-form login__fs-16 login__lh-normal"
                                >Пароль</span
                            >
                            <input tuiTextfield placeholder="Пароль" />
                        </tui-input-password>
                    </ng-container>
                    <button
                        appearance="primary"
                        tuiButton
                        class="login__button-value"
                        type="button"
                        [disabled]="loginForm.invalid"
                        [size]="sizeButton"
                        (click)="login()"
                    >
                        <div class="login__button-value">
                            <span
                                class="login__title-form login__fs-20 login__lh-20"
                                >Войти</span
                            >
                        </div>
                    </button>
                </div>
            </ng-template>
            <ng-template #signUp class="login__div-middle">
                <div class="login__inputs login__gap-60">
                    <ng-container [formGroup]="signUpForm">
                        <div class="login__inputs">
                            <tui-input
                                [formControl]="signUpForm.controls.email"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                tuiMode="onDark"
                                [tuiTextfieldSize]="sizeInput"
                            >
                                <span
                                    class="login__title-form login__fs-16 login__lh-normal"
                                    >Email</span
                                >
                                <input tuiTextfield placeholder="Email" />
                            </tui-input>
                            <tui-input-phone
                                [formControl]="signUpForm.controls.phone"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                tuiMode="onDark"
                                [tuiTextfieldSize]="sizeInput"
                            >
                                <span
                                    class="login__title-form login__fs-16 login__lh-normal"
                                    >Номер телефона</span
                                >
                                <input
                                    autocomplete="tel"
                                    tuiTextfield
                                    placeholder="Номер телефона"
                                />
                            </tui-input-phone>
                        </div>
                        <div class="login__inputs">
                            <tui-input
                                [formControl]="signUpForm.controls.password"
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                tuiMode="onDark"
                                [tuiTextfieldSize]="sizeInput"
                            >
                                <span
                                    class="login__title-form login__fs-16 login__lh-normal"
                                    >Пароль</span
                                >
                                <input tuiTextfield placeholder="Пароль" />
                            </tui-input>
                            <tui-input
                                [formControl]="
                                    signUpForm.controls.confirmPassword
                                "
                                [tuiTextfieldCleaner]="true"
                                [tuiTextfieldLabelOutside]="true"
                                tuiMode="onDark"
                                [tuiTextfieldSize]="sizeInput"
                            >
                                <span
                                    class="login__title-form login__fs-16 login__lh-normal"
                                    >Подтверждение пароля</span
                                >
                                <input
                                    tuiTextfield
                                    placeholder="Подтверждение пароля"
                                />
                            </tui-input>
                        </div>
                        <button
                            appearance="primary"
                            tuiButton
                            class="login__button-value"
                            type="button"
                            [disabled]="signUpForm.invalid"
                            [size]="sizeButton"
                            (click)="signup()"
                        >
                            <div class="login__button-value">
                                <span
                                    class="login__title-form login__fs-20 login__lh-20"
                                    >Зарегистрироваться</span
                                >
                            </div>
                        </button>
                    </ng-container>
                </div>
            </ng-template>
            <ng-container *ngIf="isSignUp; then signUp; else signIn" />
            <div class="login__footer-container">
                <span
                    class="login__not-acc login__title-form login__fs-16 login__lh-20"
                    >{{ isSignUp ? "Есть аккаунт?" : "Нет аккаунта?" }}</span
                >
                <a
                    tuiLink
                    class="login__title-form login__fs-16 login__lh-normal"
                    (click)="isSignUp = !isSignUp"
                    >{{ isSignUp ? "Войдите" : "Зарегистрируйтесь" }}</a
                >
            </div>
        </div>
    </div>
</div>
