<div class="filter" [formGroup]="form">
    <div class="filter__tags">
        <ng-container *ngIf="allTags$ | async as allTags">
            <tui-input-tag
                [formControl]="form.controls.tags"
                class="filter__input"
                [tuiTextfieldCleaner]="true"
                [tuiTextfieldLabelOutside]="true"
                tuiMode="onDark"
                [uniqueTags]="true"
                tuiTextfieldSize="m"
                [expandable]="false"
                [(search)]="search"
            >
                Тег
                <ng-container *ngIf="filtered | async as filter">
                    <ng-container *ngIf="filter.length">
                        <tui-data-list *tuiDataList>
                            <button
                                *ngFor="let item of filter"
                                tuiOption
                                [value]="item.name"
                            >
                                {{ item.name }}
                            </button>
                        </tui-data-list>
                    </ng-container>
                </ng-container>
            </tui-input-tag>
        </ng-container>
        <div class="filter__scroll-mobile">
            <tui-scrollbar class="filter__scroll">
                <div class="filter__popular-tags">
                    <ng-container *ngIf="popularTags$ | async as popularTags">
                        <tui-badge
                            *ngFor="let tag of popularTags.values()"
                            [ngClass]="{
                                'filter__tag-select': tag.select
                            }"
                            size="l"
                            status="custom"
                            class="filter__tag"
                            [value]="tag.name"
                            [hoverable]="true"
                            (click)="selectTag(tag)"
                            ><tui-svg
                                *ngIf="tag.select"
                                [src]="'tuiIconCheck'"
                            ></tui-svg
                        ></tui-badge>
                    </ng-container>
                </div>
            </tui-scrollbar>
        </div>
    </div>
    <div class="filter__search">
        <tui-input
            [formControl]="form.controls.search"
            [tuiTextfieldCleaner]="true"
            [tuiTextfieldIconLeft]="'tuiIconSearch'"
            [tuiTextfieldLabelOutside]="true"
            tuiMode="onDark"
            class="filter__input"
            tuiTextfieldSize="m"
        >
            Поиск
            <input tuiTextfield placeholder="Поиск" />
        </tui-input>
        <button
            tuiIconButton
            type="button"
            [icon]="'tuiIconPlusLarge'"
            (click)="create()"
            size="m"
        ></button>
    </div>
</div>
