<div class="main">
    <tui-root class="main__tui-root">
        <app-filter
            *ngIf="isAuth()"
            class="main__filter"
            (creation)="create()"
        />

        <tui-scrollbar
            [ngClass]="{
                'main__scroll-height': isAuth(),
                'main__scroll-full-height': !isAuth()
            }"
        >
            <div class="main__container">
                <router-outlet />
            </div>
        </tui-scrollbar>
        <app-navigation-panel *ngIf="isAuth()" class="main__navigation" />
    </tui-root>
</div>
<ngx-spinner name="spinner" />
