.navigation {
    z-index: 1000;
    display: flex;
    border-radius: 20px;
    background: var(--color-text);
    box-shadow: 0 0 10px 0 var(--color-background);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 72px;
    gap: 100px;
    padding: 0 40px;

    &__menu {
        display: flex;
        color: var(--color-icon);
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:hover {
            opacity: 0.8;
        }
    }

    &__active {
        color: var(--color-main);

        &:hover {
            opacity: 1;
        }
    }

    &__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (width <= 768px) {
            display: none;
        }
    }

    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        font-size: 1.2rem;
    }

    @media (width <= 1200px) {
        gap: 30px;
        padding: 0 30px;
    }

    @media (width <= 768px) {
        height: 52px;
    }

    @media (width <= 300px) {
        gap: 20px;
        padding: 0 20px;
    }
}
